@import url('https://fonts.googleapis.com/css?family=Carter+One');


.card-name{
    position: relative;
    top: 0;
    cursor: pointer;
    text-decoration: none !important;
    outline: none !important;
    font-family: 'Carter One', sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: .1em;
    text-shadow: 2px 2px 1px #6a0dad, -2px 2px 1px #6a0dad, 2px -2px 1px #6a0dad, -2px -2px 1px #6a0dad, 0px 2px 1px #6a0dad, 0px -2px 1px #6a0dad, 0px 4px 1px #4b0082, 2px 4px 1px #4b0082, -2px 4px 1px  #4b0082;
    border: none;
  }